<?xml version="1.0"?>
<config>
    <modules>
        <ARK_MageInfusion>
            <version>0.0.1</version>
        </ARK_MageInfusion>
    </modules>
    <global>
        <models>
            <mageinfusion>
                <class>ARK_MageInfusion_Model</class>
            </mageinfusion>
        </models>
        <helpers>
            <mageinfusion>
                <class>ARK_MageInfusion_Helper</class>
            </mageinfusion>
        </helpers>
        <resources>
            <InfCatAttrb_setup>
                <setup>
                    <module>ARK_MageInfusion</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </InfCatAttrb_setup>
            <InfCustAttrb_setup>
                <setup>
                    <module>ARK_MageInfusion</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </InfCustAttrb_setup>
            <InfCustAttrb_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </InfCustAttrb_write>
            <InfCustAttrb_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </InfCustAttrb_read>
        </resources>
        <events>
            <!-- Order Save After -->
            <sales_order_place_after>
                <observers>
                    <ark_mageinfusion_model_observer>
                        <class>ARK_MageInfusion_Model_Observer</class>
                        <method>addOrders</method>
                    </ark_mageinfusion_model_observer>
                </observers>
            </sales_order_place_after>
            
            <!-- Customer Before Save-->
            <customer_save_before>
                <observers>
                    <ARK_MageInfusion>
                        <type>model</type>
                        <class>ARK_MageInfusion_Model_Observer</class>
                        <method>addContacts</method>
                    </ARK_MageInfusion>
                </observers>
            </customer_save_before>
            <!-- Customer Address Before Save-->
            <customer_address_save_before>
                <observers>
                    <ARK_MageInfusion>
                        <type>model</type>
                        <class>ARK_MageInfusion_Model_Observer</class>
                        <method>addContacts</method>
                    </ARK_MageInfusion>
                </observers>
            </customer_address_save_before>
            <!-- Customer Delete After -->
            <customer_delete_before>
                <observers>
                    <ARK_MageInfusion>
                        <class>ARK_MageInfusion_Model_Observer</class>
                        <method>deleteCustomer</method>
                    </ARK_MageInfusion >
                </observers>
            </customer_delete_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <customertab>
                    <file>customertab.xml</file>
                </customertab>
            </updates>
        </layout>
        <events>
            <!-- Customer Before Save-->
            <adminhtml_customer_save_before>
                <observers>
                    <ARK_MageInfusion>
                        <type>model</type>
                        <class>ARK_MageInfusion_Model_Observer</class>
                        <method>addContacts</method>
                    </ARK_MageInfusion>
                </observers>
            </adminhtml_customer_save_before>
            <!-- Config Save-->
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <myobserver>
                        <type>singleton</type>
                        <class>ARK_MageInfusion_Model_Observer</class>
                        <method>saveInfConfig</method>
                    </myobserver>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
            <!-- Product Before Save-->
            <catalog_product_save_before>
                <observers>
                    <ARK_MageInfusion>
                        <type>model</type>
                        <class>ARK_MageInfusion_Model_Observer</class>
                        <method>addProducts</method>
                    </ARK_MageInfusion>
                </observers>
            </catalog_product_save_before>
            <!-- Category Before Save-->
            <catalog_category_save_before>
                <observers>
                    <category_category_observer>
                        <type>singleton</type>
                        <class>ARK_MageInfusion_Model_Observer</class>
                        <method>addCategory</method>
                    </category_category_observer>
                </observers>
            </catalog_category_save_before>
            
        </events>
    </adminhtml>
    <frontend>
        <events>
            <!-- Customer Login -->
            <customer_login>
                <observers>
                    <ARK_MageInfusion>
                        <type>model</type>
                        <class>ARK_MageInfusion_Model_Observer</class>
                        <method>addContacts</method>
                    </ARK_MageInfusion>
                </observers>
            </customer_login>
        </events>
    </frontend>
</config>