<?xml version="1.0"?>
<config>
    <tabs>
        <mageinfconf translate="label" module="mageinfusion">
            <label>InfusionSoft</label>
            <sort_order>200</sort_order>
        </mageinfconf>
    </tabs>
    <sections>
        <mageinftab  translate="label" module="mageinfusion">
            <label>InfusionSoft options</label>
            <tab>mageinfconf</tab>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <inf_api_key translate="label">
                            <label>InfusionSoft API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <validate>required-entry</validate>
                            <comment><![CDATA[How to create Infusionsoft API Key. <a target='_blank' href='http://ug.infusionsoft.com/article/AA-00442/0/Infusionsoft-API-Key.html'>Click Here</a>]]></comment>
                        </inf_api_key>
                        <inf_app_url translate="label">
                            <label>InfusionSoft Application URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <validate>required-entry</validate>
                        </inf_app_url>
                    </fields>
                </general>
            </groups>
        </mageinftab>
    </sections>
</config>
