<?xml version="1.0"?>
<config>
    <tabs>
        <mageinfconf translate="label" module="mageinfusion">
            <label>InfusionSoft</label>
            <sort_order>200</sort_order>
        </mageinfconf>
    </tabs>
    <sections>
        <mageinftab  translate="label" module="mageinfusion">
            <label>InfusionSoft options</label>
            <tab>mageinfconf</tab>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <client_id translate="label">
                            <label>InfusionSoft API Client ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <validate>required-entry</validate>
                        </client_id>
                        <client_secret translate="label">
                            <label>InfusionSoft API Client Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <validate>required-entry</validate>
                        </client_secret>
                        <client_redirect translate="label">
                            <label>InfusionSoft Client Redirect</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enabled>1</enabled>
                            </depends>
                            <validate>validate-url</validate>
                            <!--<validate>required-entry</validate>-->
                        </client_redirect>
                    </fields>
                </general>
            </groups>
        </mageinftab>
    </sections>
</config>
